[Desktop Entry]
Comment[tr_TR]=
Comment=
Exec=xset led
GenericName[tr_TR]=
GenericName=
Icon=system-run
MimeType=
Name[tr_TR]=
Name=
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
